$color-white-transparent:   rgba(255,255,255,0.8);
$color-gray:                rgb(204,204,204);
$color-black:               #130C0E;

$color-green:               #4CAF50;
$color-teal:                #33946D; // black
$color-orange:              #DA764C; // white
$color-pink:                #C44469; //
$color-purple:              #99358A; // asian
$color-yellow:              #DAD64C; // hispanic
$color-tan:                 #7C7B63; // default/other

$color-highlight:           #ffff00;

.asian { background: $color-purple; }
.black { background: $color-teal; }
.hispanic { background: $color-yellow; }
.white { background: $color-orange; }
.other { background: $color-tan; }

// Old colors
// .asian { background: #36173A; }
// .black { background: #00635D; }
// .hispanic { background: #E3D26F; }
// .other { background: #BB6B00; }
// .white { background: #7B0828; }

body {
  // font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Roboto Light", "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", Helvetica, Arial, sans-serif;
  font-family: Consolas, monaco, monospace;

  margin: 0;
  color: $color-black;
  font-size: 12px;
}

svg {
  overflow: visible;
}

#chart {
  position: relative;
}

#notFound {
  clear: both;
  font-size: 2em;
  color: red;
  font-size: 14px;
  padding-left: 10px;
}

#schoolSearch {
}

.typeahead,
.tt-query,
.tt-hint {
/*   width: 396px; */
  width: 35vw;
  height: 30px;
  padding: 8px 2vw;
  font-size: 18px;
  font-family: sans-serif;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
  margin-right: 1vw;
  float: left;
}
#button {
  display: table;
  float: left;
  width: 10vw;
  height: 50px;
  background: dimgray;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  &:hover {
    background: grey;
  }
  &:active {
    background: #fe0002;
  }
  span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
}

.search-container {
  text-align: center;
  width: 50.5vw;
  margin-left: 24.75vw;
  margin-bottom: 30px;
  margin-top: 30px;
}

#searchHeader {
  text-align: center;
}

.legend {
  position: absolute;
  top: 20px;
  left: 10px;
  $legend-height: 20px;
  margin: 0 80px;
  display: flex;
  flex-direction: column;
  .legend-element {
    display: inline-flex;
    margin-bottom: 10px;
    margin-right: 10px;
    .legend-circle {
      width: $legend-height;
      height: $legend-height;
      border-radius: $legend-height / 2;
      border: 0.5px solid $color-black;
      overflow: visible;
      box-sizing: border-box;
    }
    span {
      font-family: Consolas, monaco, monospace;
      padding-left: 4px;
      padding-right: 4px;
      text-align: center;
      line-height: $legend-height;
    }
  }
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 50px;
  > div {
    padding: 0 10px;
    border-right: 1px dotted $color-gray;
    &:first-of-type {
      padding-left: 0;
    }
  }
}

.axis {
  text {
    fill: $color-black;
  }
}

.school {
  circle.node {
    fill-opacity: 0.35;
    stroke: gray;
    stroke-width: 0.5;
  }
  path {
    fill: none;
    stroke: black;
    opacity: 0.2;
    pointer-events: none;
  }
  &.hover circle { stroke: $color-black; fill-opacity: 1; }
  &.hover path { opacity: 1; }
}

#information {
  display: none;
  position: absolute;
  width: 250px;
  bottom: 15%;
  right: 20px;
  padding: 10px 20px;
  border: 2px solid gray;
  border-radius: 3px;
  background-color: $color-white-transparent;
  h4 {
    margin-top: 0;
    font-size: 14px;
  }
  p {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: bold;
    span {
      font-weight: normal;
      background-color: $color-highlight;
    }
  }
}

// No/Yes buttons
button.ny-btn {
    font-family: Consolas, monaco, monospace;
    font-size: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color:  $color-black;
    background-color: $color-green; /* green */
    min-width: 40px;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    display: inline-block;
    margin: 4px;
}
button.ny-btn:focus {
    outline:0;
}
span.ny-label {
  display: block;
  color:  #130C0E; /* black */
  font-size: 10px;
  font-family: Consolas, monaco, monospace;
}
